$breakpoint-mobile: 479px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1200px;

$main-color: #04a6e1;



@mixin flex-box($justify: center){
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin blue-btn {
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        color: white;
        background-color: $main-color;
    }
}

@mixin bg-set {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin global-width($width: 1340px) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$breakpoint-desktop}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}
    

@keyframes tongtong {
    0% {
        transform: translateY(-120%) scale(0.5);
    }
    100% {
        transform: translateY(0) scale(0.5);
    }
}