@import "mixin";

*{margin:0; padding:0; box-sizing: border-box;font-size: 13px;}

.header{
    position: fixed;
    width: 100vw;
    height: 75px;
    z-index: 1;
    &:hover{
        z-index: 2;
    }
    &-con{
        @include flex-box(space-between);
        max-width: 1340px;
        height: 75px;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 30px;
        &-logo{
            flex-grow: 1;
            height:100%;
            @include flex-box(flex-start);
            a{  
                width: 60px;
                height: 31px;
                overflow: hidden;
                img{
                    transform: translateY(-50%);
                }
            }
            @include desktop{
                flex-grow: 0;
                order: 2;
            }
        }
        &-menu{
            width:925px;
            @include flex-box(center);
            list-style: none;
            height:100%;
            &>li{
                @include flex-box;
                padding: 25px 35px;
                white-space: nowrap;
                position: relative;
                color:white;
                
                span{
                    font-weight: bold;
                    transition: 0.3s;
                    cursor: pointer;
                }
                &:hover{
                    span{color: $main-color;}
                    &>ul{
                        color: white;
                        div{
                            height: 364px;
                            opacity: 1;
                        }
                        li>a{color:white;}
                    }
                }
                &:nth-child(2){
                    width:190px;
                }
                &>ul{
                    z-index: 2;
                    list-style: none;
                    position: absolute;
                    top: 0px; left:0; right:0;
                    opacity: 0;
                    max-height: 0;
                    height: 365px;
                    padding: 25px 0px;
                    &>li{
                        position: relative;
                        line-height: 1.6em;
                        padding: 7px 16px;
                        letter-spacing: -0.1em;
                        cursor: pointer;
                        &:hover{text-decoration: underline;}
                        a{
                            transition: 0.5s; 
                            color: black; 
                        }
                    }
                    &>ul{
                        list-style: none;
                        letter-spacing: -0.1em;
                        margin-left: 1.2em;
                        li{
                            position: relative;
                            cursor: pointer;
                            &::before{content: '· ';};
                            &:hover{text-decoration: underline;}
                        }
                    }
                    &>div{
                        position: absolute;
                        top: 0px;
                        width: 100%;
                        height: 1px;
                        opacity: 0;
                        background-color: $main-color;
                        transition: 0.5s;
                        z-index: -0.5;
                    }
                }
            }
            @include desktop {
                display: none;
            }
        }
        &-lang{
            z-index: 1;
            flex-grow: 1;
            width: 18px;
            @include flex-box(flex-end);
            height:100%;
            text-align: right;
            color:white;
            span{
                cursor: pointer;
                transition: 0.5s;
            }
            @include desktop{
                flex-grow: 0;
                order: 1;
            }
            @include tablet{
                margin-left: 1.5em;
            }
        }
        &-burger{
            display: none;
            z-index: 1;
            color: white;
            width: 18px;
            text-align: right;
            @include desktop {
                display: block;
                order: 3;
            }
        }
    }

    &-background1{
        position: absolute;
        top:0;
        background-color: white;
        width: 100%;
        height: 75px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
        opacity: 0;
        transition: 0.5s;
    }
    &-background2{
        position: absolute;
        top: 0;
        background-color: #f7f8fa;
        width: 100%;
        max-height: 0;
        height: 365px;
        opacity: 0;
        transform: translateY(75px);
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
        @include desktop {
            display: none;
        }
    }

    &-s{
        display: none;
        background-color: white;
        padding: 10px;
        height: calc(100vh - 75px);
        flex-direction: column;
        &-menu{
            &-list{
                padding: 2px 15px;
                &.show>ul{
                    display: block;
                }
                &-name{
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: -0.05em;
                    @include flex-box(space-between);
                    transition: 0.3s;
                    &:hover{color:$main-color;}
                    span{
                        font-size: 1.5em;
                        color: gray;
                    }
                    
                }
                &>ul{
                    display: none;
                    & li{
                        padding: 6px 0;
                        font-size: 17px;
                        letter-spacing: -0.05em;
                        list-style: none;
                        color: black;
                        transition: 0.5s;
                        cursor: pointer;
                        a{font-size:17px;color:black;}
                        &:hover{
                            color:$main-color; a{color:$main-color;};
                            text-decoration: underline;
                        }
                    }
                    ul>li{
                        padding-left: 3px;
                        font-size: 15px;
                        &::before{content:'• ';}
                    }
                }
            }
        }
    }
}
// show1 스크롤, show2 호버, show3 모바일 버거
.header.show, .header.show2, .header.show3{
    .header-con-logo img{
        transform: translateY(0);
    }
    .header-con-menu>li, .header-con-lang span, .header-con-burger i{
        color: black;
    }
    .header-background1{
        opacity: 1;
    }
}
.header.show3{
    .header-s{
        @include desktop{
            display: block;
        }
    }
}

.header.show2{
    .header-con{
        overflow: visible;
    }
    .header-background2{
        opacity: 1;
        max-height: 365px;
    }
    .header-con-menu>li>ul{
        opacity: 1;
        transform: translateY(72px);
        transition: 0.5s;
    }
}


.aside{
    position: fixed;
    top: 0; bottom: 0;
    right: -340px;
    transition: 0.5s;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include tablet{
        display: none;
    }
    &.show{
        transform: translateX(-340px);
        z-index: 1;
    }
    &-btns{
        cursor: pointer;
        div:first-child{
            width: 60px; height: 60px;
            background: #2e3031;
            color: white;
            @include flex-box();
            flex-direction: column;
            transform: translateX(100%);
            transition: 0.5s;
            &.show{
                transform: translateX(0);
            }
        }
        div:last-child{
            width: 60px; height: 240px;
            background: $main-color;
            color: white;
            padding: 25px 20px;
            position: relative;
            span{
                @include flex-box(space-between);
                white-space: nowrap;
                transform: rotate(90deg);
                i{
                    position: absolute;
                    left: 175px;
                }
            }
        }
    }
    &-hub{
        height: 100vh; width: 340px;
        background-color: #F7F8FA;
        z-index: 1;
        &-title{
            height: 75px;
            padding: 23px 25px;
            @include flex-box(space-between);
            border-bottom: 1px solid #e9e7e7;
            i{
                cursor: pointer;
                transition: 0.3s;
                &:hover{transform: rotate(540deg);}
            }
        }
        &-content{
            list-style: none;
            text-align: center;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width:8px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #999;
                border-radius: 1em;
            }
            &::-webkit-scrollbar-track{
                background-color: none;
            }
            height: calc(100vh - 75px);
            padding: 0 0.5em 0 1em;
            &>li{
                padding: 10px 0;
                position: relative;
            }
            &-myinfo{
                display: flex;
                width: 300px;
                margin: 0 auto;
                margin-top: 1.5em;
                a{
                    width: 50%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 0;
                    flex-grow: 1;
                    background-color: white;
                    color: #767676;
                    text-decoration: none;
                    span, span i{transition: 0.5s;}
                    &:hover span{
                        transform: scale(1.05);
                        i{color: $main-color}
                    }
                }
            }
            &-item{
                img, div{cursor: pointer;}
                
                div{
                    position: absolute;
                    top: 47%;
                    left: 30px;
                    transform: translateY(-50%);
                    text-align: start;
                    h3{
                        font-size: 1.4em;
                        margin-bottom: 5px;
                    }
                    p{
                        color: gray;
                    }
                    letter-spacing: -0.08em;
                }
                &:nth-child(2){
                    color: white;
                    p{
                        color: white;
                    }
                }
            }

            .sns{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    width: 90px; height: 90px;
                    border-radius: 5em;
                    background-color: white;
                    @include flex-box();
                    &>a{
                        width: 70px; height: 40px;
                        transition: 0.5s;
                    }
                    &:nth-child(1) a{
                        background-image:url('../img/atomyHurb_snsicon.png');
                        &:hover{
                            background-position: 0 -40px;
                        }
                    }
                    &:nth-child(2) a{
                        background-image:url('../img/atomyHurb_snsicon.png');
                        background-position: -70px 0;
                        &:hover{
                            background-position: -70px -40px;
                        }
                    }
                    &:nth-child(3) a{
                        background-image:url('../img/atomyHurb_snsicon.png');
                        background-position: -140px 0;
                        &:hover{
                            background-position: -140px -40px;
                        }
                    }
                }
            }
        }
    }
}
.aside-s{
    @include flex-box();
    position: fixed;
    bottom: 1em; right: 1em;
    width: 30px; height: 25px;
    display: none;
    background-color: $main-color;
    color: white;
    border: none;
    transition: 0.5s;
    transform: translateX(200%);
    &:active{
        transform: scale(0.8);
        i{
            transform: scale(0.8);
        }
    }
    &.show{
        transform: translateX(0);
    }
    @include tablet{
        display: flex;
    }
}



.footer{
    @include flex-box;
    flex-direction: column;
    background-color: #555555;
    padding-bottom: 20px;
    &-logo{
        width: 80px;
        height: 70px;
        margin: 20px 10px 0;
        background: url(../img/f_logo.png);
    }
    &-address{
        font-style: normal;
        letter-spacing: -0.05em;
        @include flex-box();
        flex-wrap: wrap;
        white-space: nowrap;
        margin-bottom: 3px;
        color: #d9d9d9;
        padding: 5px 0;
        span{
            font-size: 15px;
        }
        & span:first-child{
            font-weight: bold;
        }
        & span:nth-child(2){
            margin: 0 20px;
        }
        & span:last-child{
            display: inline-flex;
            width: 200px; height: 30px;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px solid #d9d9d9;
            margin-left: 1em;
            padding: 0 1em;
            i{
                margin-left: 1em;
            }
        }
    }
    &-copyright{
        letter-spacing: -0.05em;
        color: #999999;
    }
}

.hide2{
    opacity: 0;
}