@import "mixin";

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
.main-article{
    width: 100%;
    // height: 100vh;
    overflow: hidden;
    &>div{
        @include flex-box;
        height:100vh;
        width: 100vw;
        position:relative;
    }
    .main{
        overflow: hidden;
        &-video{
            z-index: 0;
            object-fit: fill;
            object-position: center;
            @media (min-width: 1920px) {
                width: 100vw;
            }
        }
        &-scrollinfo{
            position: absolute;
            bottom: 2em;
            left: 50%;
            color: white;
            transform: translateX(-50%);
            &-icon{
                width: 25px;
                height: 40px;
                border: 2px solid white;
                border-radius: 2em;
                margin: 0 auto;
                margin-top: 1em;
                @include flex-box();
                i{
                    font-size: 5px;
                    animation: 0.5s ease-in infinite alternate tongtong;

                }
            }
        }
    }
    .about{
        overflow: hidden;
        &-bg{
            position: absolute;
            width: 100%;
            height: 33%;
            bottom: 0;
            background: #f7f8fa;
            z-index: -1;
        }
        &-slide{
            width: 1340px;
            padding: 0 30px;

            @include flex-box(center);
            @include tablet{flex-direction: column;};
            &-img{
                width: 400px;
                height: 600px;
                
                vertical-align: bottom;
                overflow: hidden;
                div{
                    width: 100%;
                    transition: 0.5s;
                    transform: translateY(-12.5% * 1);
                    img{
                        width: 100%;
                        height: 100%;
                        margin: 20px 0;
                    }
                }
                @include global-width{
                    width: 35vw;
                    height: 52vw;
                }
                @include tablet{
                    position: absolute;
                    width: 100vw; height: 100vh;
                    filter:opacity(0.5);
                    z-index: -1;
                    div{
                        @include flex-box();
                        flex-direction: column;
                        // transform: translateY(-16.666% * 5);
                        img{
                            width: 100vw; height: 100vh;
                            margin: 0;
                        }
                    }
                }
            }
            &-txt{
                width: 40%;
                margin-right: -110px;
                @include flex-box(flex-start);
                margin-left: 5em;
                @include tablet{
                    margin: 0 auto;
                };
                &-list{
                    padding-left: 0;
                    &-item{
                        font-size: 16px;
                        @include tablet{
                            text-align: center;
                        }
                        p:first-child{
                            font-size: 2.75em;
                            
                            color: #e9e7e7;
                            font-weight: bold;
                            margin-bottom: -0.2em;
                            span{
                                font-size: 1em;
                            }
                            @include tablet{
                                color: #afacac;
                            }
                        }
                        p:nth-child(2){
                            font-size: 1.4em;
                            display: none;
                            margin-bottom: 0.5em;
                            font-weight: bold;
                        }
                        p:nth-child(3){
                            font-size: 1em;
                            display: none;
                            color: #767676;
                        }
                        &.active{
                            margin: 1.2em 0;
                            p:first-child{
                                font-size: 4em;
                                letter-spacing: -0.05em;
                                color: black;
                                span{
                                    font-size: 1.5em;
                                }
                                @include desktop{font-size: 3.2em;}
                            }
                            p:nth-child(2),p:nth-child(3){
                                display: block;
                            }
                        }
                        &.hide{
                            display: none;
                        }
                    }
                }
            }
            &-btn{
                @include flex-box(flex-start);
                flex-direction: column;
                width: 5%;
                font-size: 20px;
                button{
                    width: 4em; height: 4em;
                    border-radius: 2em;
                    background: none;
                    border: 1px solid #e3e6e8;
                    @include blue-btn();
                }
                div{
                    margin: 0.5em auto;
                }
                div, span, i{
                    font-size: 20px;
                }
                @include tablet{
                    flex-direction: row;
                    justify-content: center;
                    height: 100px;
                    button{
                        transform: rotate(-90deg);
                        padding: 15px;
                    }
                    div:nth-child(2){
                        margin: 25px;
                    }
                }
            }
        }
    }
    .brand{
        position: relative;
        &-bg{
            position: absolute;
            top:0; bottom:0; left:0; right:0;
            overflow: hidden;
            opacity: 0;
            @include bg-set();
            @include mobile{background-position: 75% 50%;}
            transition: 1s;
            
            &:first-child{
                background-image: url('../img/products_img01.jpg');
            }
            &:nth-child(2){
                background-image: url('../img/products_img02.jpg');
            }
            &.show{
                opacity: 1;
                
            }
            img{
                height: 100%;
            }
        }
        &-product{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 1340px;
            padding: 0 30px;
            margin: 0 auto;
            @include global-width{
                left: 0;
                width: unset;
            }
            @include mobile{
                left: unset;
            }
            &-con{
                font-size: 24px;
                @include global-width{font-size: 21px;}
                @include tablet{font-size: 18px;}
                @include mobile{
                    font-size: 14px;
                    text-align: center;
                }
                h1{
                    font-size: 3em;
                }
                p{
                    font-size: 0.85em;
                    margin: 15px 0 35px 0;
                }
                button{
                    font-size: 0.65em;
                    width: 200px; height: 55px;
                    background: white;
                    border: none;
                    @include blue-btn();
                    @include tablet{
                        font-size: 0.80em;
                        height: 40px;
                    }
                }
            }
        }
        &-indi{
            position: absolute;
            bottom: 20px;
            width: 30px;
            height: 20px;
            @include flex-box(space-between);
            div{
                width: 9px; height: 9px;
                border: 3px solid skyblue;
                border-radius: 1em;
                transition: 0.5s;
                cursor: pointer;
                &.show{
                    background: skyblue;
                }
            }
        }
    }
    .atomypark{
        position: relative;
        &-bg{
            position: absolute;
            top:0; bottom:0; left:0; right:0;
            overflow: hidden;
            opacity: 0;
            @include bg-set();
            transition: 1s;
            
            &:first-child{
                background-image: url('../img/atomypark_bg.jpg');
            }
            &:nth-child(2){
                background-image: url('../img/atomypark_bg2.jpg');
            }
            &:nth-child(3){
                background-image: url('../img/atomypark_bg3.jpg');
            }
            &:nth-child(4){
                background-image: url('../img/atomypark_bg4.jpg');
            }
            &.show{
                opacity: 1;
            }
            img{
                height: 100%;
            }
        }
        &-info{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 1340px;
            padding: 0 30px;
            margin: 0 auto;
            @include global-width{
                left: 0;
                width: unset;
            }
            &-con{
                font-size: 24px;
                color: white;
                @include global-width{font-size: 21px;}
                @include tablet{font-size: 18px;}
                @include mobile{
                    font-size: 14px;
                    text-align: center;
                }
                h1{
                    font-size: 3em;
                }
                p{
                    font-size: 0.85em;
                    margin: 15px 0 25px 0;
                }
                button{
                    font-size: 0.65em;
                    width: 200px; height: 55px;
                    background: white;
                    border: none;
                    margin-right: 20px;
                    margin: 0 auto;
                    margin-top: 10px;
                    @include blue-btn();
                    @include tablet{
                        font-size: 0.80em;
                        height: 40px;
                    }
                }
            }
        }
        &-indi{
            position: absolute;
            bottom: 20px;
            width: 71px;
            height: 20px; 
            @include flex-box(space-between);
            div{
                width: 9px; height: 9px;
                border: 3px solid rgb(255, 255, 255);
                border-radius: 1em;
                transition: 0.5s;
                cursor: pointer;
                &.show{
                    background: rgb(255, 255, 255);
                }
            }
        }
    }
    .csr{
        @include flex-box();
        
        padding: 2em;
        position: relative;
        overflow: hidden;
        &-bg{
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0;
            background: #f7f8fa;
        }
        &-article{
            width: 1320px;
            font-size: 28px;
            position: absolute;
            overflow: hidden;
            @include global-width{width: 100%;}
            @include tablet{font-size: 21px;}
            @include mobile{font-size: 14px;}
            letter-spacing: -0.05em;
            h1{
                width: 100%;
                font-size: 2.5em;
                text-align: center;
                margin: 75px 0 10px 0;
            }
            &-slide{
                width: 100%;
                
                @include tablet{width: 150%;}
                @include mobile{width: 300%;}
                @include flex-box(space-between);
                flex-wrap: wrap;
                padding: 0 20px;
                figure{
                    width: 31.5%;
                    flex-shrink: 1;
                    // padding: 0 20px;
                    position: relative;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 50%;
                        vertical-align: bottom;
                    }
                    figcaption{
                        position: absolute;
                        top: 0; right: 0; left: 0; bottom:0;
                        background: $main-color;
                        opacity: 0.9;
                        transform: translateY(75%);
                        color: white;
                        padding: 40px;
                        transition: 0.3s ease-in-out;
                        font-size: 20px;
                        h2{
                            height: 25%;
                            font-weight: 500;
                            font-size: 1em;
                            letter-spacing: -0.1rem;
                        }
                        p{
                            font-size: 0.8em;
                            padding-bottom: 1.7em;
                            margin-bottom: 1.7em;
                            border-bottom: 1px solid;
                        }
                        span{
                            font-size: 0.7em;
                        }
                        @include desktop{font-size: 1.5vw; padding: 30px;}
                        @include tablet{font-size: 2.5vw; padding: 25px;}
                        @include mobile{font-size: 5vw; padding: 20px;}
                    }
                    transition: 0.3s ease-in-out;
                    &:hover{
                        transform: translateY(-10%);
                        box-shadow: rgba(0,0,0,0.3) 0 15px 8px;
                        figcaption{
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
    .global{
        background-image: url('../img/worldwide_bg.jpg');
        @include bg-set();
        align-items: flex-end;
        figure{
            background-image: url('../img/worldwide_map.svg');
            @include bg-set();
            background-size: contain;
            width: 100%;
            height: 90%;
        }
        &-tab{
            @include flex-box();
            div{
                width: 180px; height: 54px;
                margin: 1em 10px;
                @include flex-box();
                background: rgba(255, 255, 255, 0.4);
                text-align: center;
                @include blue-btn();
            }
        }
    }
    .news{
        background-image: url('../img/mCnts03_bg.jpg');
        @include bg-set();
        @include flex-box();
        &-article{
            max-width: 1200px;
            @include flex-box();
            align-content: center;
            flex-wrap: wrap;
            margin-top: 75px;
            padding: 20px;
            @include mobile {margin-top: 0px;}
            &>div{
                padding: 10px;
            }
            &-1{
                width: 100%;
                @include flex-box(flex-start);
                align-items: flex-start;
                @include mobile{
                    flex-direction: column;
                }
                font-size: 20px;
                @include desktop{
                    font-size: 16px;
                }
                @include mobile{
                    font-size: 14px;
                }
                figure{
                    width: 55%;
                    background-image: url('../img/162815259512500.jpg');
                    @include bg-set();
                    padding-bottom: 25%;
                    height:0;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: block;
                        width: 90vw;
                        padding-bottom: 55%;
                        margin: 0 auto;
                        margin-top: 150px;
                    }
                }
                &>div{
                    color:white;
                    padding-left: 1em;
                    font-size: 1em;
                    white-space: pre;
                    @include mobile {font-size: 3vw; white-space: normal;}
                    h2{
                        font-size: 3em;
                        line-height: 1em;
                        margin-bottom: 0.5rem;
                    }
                }
            }
            &-5, &-2, &-3, &-4{
                width: 25%;
                @include tablet{width: 50%;}
                @include mobile{width: 47vw;}
                figure{
                    background-image:url('../img/161827407554300.jpg');
                    @include bg-set();
                    background-size: 100% 100%;
                    padding-bottom: 50%;
                    height: 0;
                    transition: 0.5s;
                    &:hover{
                        background-size: 110% 110%;
                        filter: contrast(0.3);
                    }
                }
                div{
                    margin-top: 0.2em;
                    font-size: 16px;
                    letter-spacing: -0.1em;
                    color: white;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @include mobile {font-size: 0.85em}
                }
            }
            &-2 figure{
                background-image: url('../img/162604866419800.jpg');;
            }
            &-3 figure{
                background-image: url('../img/162077677327900.jpg');;
            }
            &-4 figure{
                background-image: url('../img/161940080577100.jpg');;
            }
            &-5 figure{
                background-image: url('../img/161827407554300.jpg');;
            }
            
        }
    }
}

.nav{
    position: fixed;
    right: 0;
    bottom: 310px;
    z-index: 1;
    ul{
        position: relative;
        list-style: none;
        color: #555;
        text-align: right;
        margin-right: 30px;
        font-size: 16px;
        font-weight: bold;
        li{
            transition: 0.5s;
            font-size: 1em;
            margin: 10px;
            cursor: pointer;
            &:hover{color: white;}
            &.show{color: white;}
        }
        div{
            position: absolute;
            top: 13px;
            right: -30px;
            width: 30px;
            height: 31.5px;
            border-top: 2px solid white;
            transition: 0.3s;
            // transform: translateY(300%);
        }
        
    }
    transition: 0.5s;
    @include desktop{transform: translateX(100%);}
}