@-webkit-keyframes tongtong {
  0% {
    -webkit-transform: translateY(-120%) scale(0.5);
            transform: translateY(-120%) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(0.5);
            transform: translateY(0) scale(0.5);
  }
}

@keyframes tongtong {
  0% {
    -webkit-transform: translateY(-120%) scale(0.5);
            transform: translateY(-120%) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(0.5);
            transform: translateY(0) scale(0.5);
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.main-article {
  width: 100%;
  overflow: hidden;
}

.main-article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.main-article .main {
  overflow: hidden;
}

.main-article .main-video {
  z-index: 0;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 1920px) {
  .main-article .main-video {
    width: 100vw;
  }
}

.main-article .main-scrollinfo {
  position: absolute;
  bottom: 2em;
  left: 50%;
  color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-article .main-scrollinfo-icon {
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 2em;
  margin: 0 auto;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article .main-scrollinfo-icon i {
  font-size: 5px;
  -webkit-animation: 0.5s ease-in infinite alternate tongtong;
          animation: 0.5s ease-in infinite alternate tongtong;
}

.main-article .about {
  overflow: hidden;
}

.main-article .about-bg {
  position: absolute;
  width: 100%;
  height: 33%;
  bottom: 0;
  background: #f7f8fa;
  z-index: -1;
}

.main-article .about-slide {
  width: 1340px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  .main-article .about-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-article .about-slide-img {
  width: 400px;
  height: 600px;
  vertical-align: bottom;
  overflow: hidden;
}

.main-article .about-slide-img div {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-12.5%);
          transform: translateY(-12.5%);
}

.main-article .about-slide-img div img {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

@media (max-width: 1340px) {
  .main-article .about-slide-img {
    width: 35vw;
    height: 52vw;
  }
}

@media (max-width: 769px) {
  .main-article .about-slide-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    z-index: -1;
  }
  .main-article .about-slide-img div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-article .about-slide-img div img {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

.main-article .about-slide-txt {
  width: 40%;
  margin-right: -110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5em;
}

@media (max-width: 769px) {
  .main-article .about-slide-txt {
    margin: 0 auto;
  }
}

.main-article .about-slide-txt-list {
  padding-left: 0;
}

.main-article .about-slide-txt-list-item {
  font-size: 16px;
}

@media (max-width: 769px) {
  .main-article .about-slide-txt-list-item {
    text-align: center;
  }
}

.main-article .about-slide-txt-list-item p:first-child {
  font-size: 2.75em;
  color: #e9e7e7;
  font-weight: bold;
  margin-bottom: -0.2em;
}

.main-article .about-slide-txt-list-item p:first-child span {
  font-size: 1em;
}

@media (max-width: 769px) {
  .main-article .about-slide-txt-list-item p:first-child {
    color: #afacac;
  }
}

.main-article .about-slide-txt-list-item p:nth-child(2) {
  font-size: 1.4em;
  display: none;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.main-article .about-slide-txt-list-item p:nth-child(3) {
  font-size: 1em;
  display: none;
  color: #767676;
}

.main-article .about-slide-txt-list-item.active {
  margin: 1.2em 0;
}

.main-article .about-slide-txt-list-item.active p:first-child {
  font-size: 4em;
  letter-spacing: -0.05em;
  color: black;
}

.main-article .about-slide-txt-list-item.active p:first-child span {
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  .main-article .about-slide-txt-list-item.active p:first-child {
    font-size: 3.2em;
  }
}

.main-article .about-slide-txt-list-item.active p:nth-child(2), .main-article .about-slide-txt-list-item.active p:nth-child(3) {
  display: block;
}

.main-article .about-slide-txt-list-item.hide {
  display: none;
}

.main-article .about-slide-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5%;
  font-size: 20px;
}

.main-article .about-slide-btn button {
  width: 4em;
  height: 4em;
  border-radius: 2em;
  background: none;
  border: 1px solid #e3e6e8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.main-article .about-slide-btn button:hover {
  color: white;
  background-color: #04a6e1;
}

.main-article .about-slide-btn div {
  margin: 0.5em auto;
}

.main-article .about-slide-btn div, .main-article .about-slide-btn span, .main-article .about-slide-btn i {
  font-size: 20px;
}

@media (max-width: 769px) {
  .main-article .about-slide-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
  }
  .main-article .about-slide-btn button {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    padding: 15px;
  }
  .main-article .about-slide-btn div:nth-child(2) {
    margin: 25px;
  }
}

.main-article .brand {
  position: relative;
}

.main-article .brand-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 479px) {
  .main-article .brand-bg {
    background-position: 75% 50%;
  }
}

.main-article .brand-bg:first-child {
  background-image: url("../img/products_img01.jpg");
}

.main-article .brand-bg:nth-child(2) {
  background-image: url("../img/products_img02.jpg");
}

.main-article .brand-bg.show {
  opacity: 1;
}

.main-article .brand-bg img {
  height: 100%;
}

.main-article .brand-product {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .main-article .brand-product {
    left: 0;
    width: unset;
  }
}

@media (max-width: 479px) {
  .main-article .brand-product {
    left: unset;
  }
}

.main-article .brand-product-con {
  font-size: 24px;
}

@media (max-width: 1340px) {
  .main-article .brand-product-con {
    font-size: 21px;
  }
}

@media (max-width: 769px) {
  .main-article .brand-product-con {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .main-article .brand-product-con {
    font-size: 14px;
    text-align: center;
  }
}

.main-article .brand-product-con h1 {
  font-size: 3em;
}

.main-article .brand-product-con p {
  font-size: 0.85em;
  margin: 15px 0 35px 0;
}

.main-article .brand-product-con button {
  font-size: 0.65em;
  width: 200px;
  height: 55px;
  background: white;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.main-article .brand-product-con button:hover {
  color: white;
  background-color: #04a6e1;
}

@media (max-width: 769px) {
  .main-article .brand-product-con button {
    font-size: 0.80em;
    height: 40px;
  }
}

.main-article .brand-indi {
  position: absolute;
  bottom: 20px;
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article .brand-indi div {
  width: 9px;
  height: 9px;
  border: 3px solid skyblue;
  border-radius: 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.main-article .brand-indi div.show {
  background: skyblue;
}

.main-article .atomypark {
  position: relative;
}

.main-article .atomypark-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-article .atomypark-bg:first-child {
  background-image: url("../img/atomypark_bg.jpg");
}

.main-article .atomypark-bg:nth-child(2) {
  background-image: url("../img/atomypark_bg2.jpg");
}

.main-article .atomypark-bg:nth-child(3) {
  background-image: url("../img/atomypark_bg3.jpg");
}

.main-article .atomypark-bg:nth-child(4) {
  background-image: url("../img/atomypark_bg4.jpg");
}

.main-article .atomypark-bg.show {
  opacity: 1;
}

.main-article .atomypark-bg img {
  height: 100%;
}

.main-article .atomypark-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .main-article .atomypark-info {
    left: 0;
    width: unset;
  }
}

.main-article .atomypark-info-con {
  font-size: 24px;
  color: white;
}

@media (max-width: 1340px) {
  .main-article .atomypark-info-con {
    font-size: 21px;
  }
}

@media (max-width: 769px) {
  .main-article .atomypark-info-con {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .main-article .atomypark-info-con {
    font-size: 14px;
    text-align: center;
  }
}

.main-article .atomypark-info-con h1 {
  font-size: 3em;
}

.main-article .atomypark-info-con p {
  font-size: 0.85em;
  margin: 15px 0 25px 0;
}

.main-article .atomypark-info-con button {
  font-size: 0.65em;
  width: 200px;
  height: 55px;
  background: white;
  border: none;
  margin-right: 20px;
  margin: 0 auto;
  margin-top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.main-article .atomypark-info-con button:hover {
  color: white;
  background-color: #04a6e1;
}

@media (max-width: 769px) {
  .main-article .atomypark-info-con button {
    font-size: 0.80em;
    height: 40px;
  }
}

.main-article .atomypark-indi {
  position: absolute;
  bottom: 20px;
  width: 71px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article .atomypark-indi div {
  width: 9px;
  height: 9px;
  border: 3px solid white;
  border-radius: 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.main-article .atomypark-indi div.show {
  background: white;
}

.main-article .csr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.main-article .csr-bg {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: #f7f8fa;
}

.main-article .csr-article {
  width: 1320px;
  font-size: 28px;
  position: absolute;
  overflow: hidden;
  letter-spacing: -0.05em;
}

@media (max-width: 1340px) {
  .main-article .csr-article {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .main-article .csr-article {
    font-size: 21px;
  }
}

@media (max-width: 479px) {
  .main-article .csr-article {
    font-size: 14px;
  }
}

.main-article .csr-article h1 {
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  margin: 75px 0 10px 0;
}

.main-article .csr-article-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

@media (max-width: 769px) {
  .main-article .csr-article-slide {
    width: 150%;
  }
}

@media (max-width: 479px) {
  .main-article .csr-article-slide {
    width: 300%;
  }
}

.main-article .csr-article-slide figure {
  width: 31.5%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-article .csr-article-slide figure img {
  width: 100%;
  height: 50%;
  vertical-align: bottom;
}

.main-article .csr-article-slide figure figcaption {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #04a6e1;
  opacity: 0.9;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
  color: white;
  padding: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}

.main-article .csr-article-slide figure figcaption h2 {
  height: 25%;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: -0.1rem;
}

.main-article .csr-article-slide figure figcaption p {
  font-size: 0.8em;
  padding-bottom: 1.7em;
  margin-bottom: 1.7em;
  border-bottom: 1px solid;
}

.main-article .csr-article-slide figure figcaption span {
  font-size: 0.7em;
}

@media (max-width: 1200px) {
  .main-article .csr-article-slide figure figcaption {
    font-size: 1.5vw;
    padding: 30px;
  }
}

@media (max-width: 769px) {
  .main-article .csr-article-slide figure figcaption {
    font-size: 2.5vw;
    padding: 25px;
  }
}

@media (max-width: 479px) {
  .main-article .csr-article-slide figure figcaption {
    font-size: 5vw;
    padding: 20px;
  }
}

.main-article .csr-article-slide figure:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 15px 8px;
          box-shadow: rgba(0, 0, 0, 0.3) 0 15px 8px;
}

.main-article .csr-article-slide figure:hover figcaption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main-article .global {
  background-image: url("../img/worldwide_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-article .global figure {
  background-image: url("../img/worldwide_map.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 90%;
}

.main-article .global-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article .global-tab div {
  width: 180px;
  height: 54px;
  margin: 1em 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.main-article .global-tab div:hover {
  color: white;
  background-color: #04a6e1;
}

.main-article .news {
  background-image: url("../img/mCnts03_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article .news-article {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 75px;
  padding: 20px;
}

@media (max-width: 479px) {
  .main-article .news-article {
    margin-top: 0px;
  }
}

.main-article .news-article > div {
  padding: 10px;
}

.main-article .news-article-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
}

@media (max-width: 479px) {
  .main-article .news-article-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .main-article .news-article-1 {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .main-article .news-article-1 {
    font-size: 14px;
  }
}

.main-article .news-article-1 figure {
  width: 55%;
  background-image: url("../img/162815259512500.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 25%;
  height: 0;
}

@media (max-width: 769px) {
  .main-article .news-article-1 figure {
    display: none;
  }
}

@media (max-width: 479px) {
  .main-article .news-article-1 figure {
    display: block;
    width: 90vw;
    padding-bottom: 55%;
    margin: 0 auto;
    margin-top: 150px;
  }
}

.main-article .news-article-1 > div {
  color: white;
  padding-left: 1em;
  font-size: 1em;
  white-space: pre;
}

@media (max-width: 479px) {
  .main-article .news-article-1 > div {
    font-size: 3vw;
    white-space: normal;
  }
}

.main-article .news-article-1 > div h2 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5rem;
}

.main-article .news-article-5, .main-article .news-article-2, .main-article .news-article-3, .main-article .news-article-4 {
  width: 25%;
}

@media (max-width: 769px) {
  .main-article .news-article-5, .main-article .news-article-2, .main-article .news-article-3, .main-article .news-article-4 {
    width: 50%;
  }
}

@media (max-width: 479px) {
  .main-article .news-article-5, .main-article .news-article-2, .main-article .news-article-3, .main-article .news-article-4 {
    width: 47vw;
  }
}

.main-article .news-article-5 figure, .main-article .news-article-2 figure, .main-article .news-article-3 figure, .main-article .news-article-4 figure {
  background-image: url("../img/161827407554300.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 50%;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-article .news-article-5 figure:hover, .main-article .news-article-2 figure:hover, .main-article .news-article-3 figure:hover, .main-article .news-article-4 figure:hover {
  background-size: 110% 110%;
  -webkit-filter: contrast(0.3);
          filter: contrast(0.3);
}

.main-article .news-article-5 div, .main-article .news-article-2 div, .main-article .news-article-3 div, .main-article .news-article-4 div {
  margin-top: 0.2em;
  font-size: 16px;
  letter-spacing: -0.1em;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 479px) {
  .main-article .news-article-5 div, .main-article .news-article-2 div, .main-article .news-article-3 div, .main-article .news-article-4 div {
    font-size: 0.85em;
  }
}

.main-article .news-article-2 figure {
  background-image: url("../img/162604866419800.jpg");
}

.main-article .news-article-3 figure {
  background-image: url("../img/162077677327900.jpg");
}

.main-article .news-article-4 figure {
  background-image: url("../img/161940080577100.jpg");
}

.main-article .news-article-5 figure {
  background-image: url("../img/161827407554300.jpg");
}

.nav {
  position: fixed;
  right: 0;
  bottom: 310px;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul {
  position: relative;
  list-style: none;
  color: #555;
  text-align: right;
  margin-right: 30px;
  font-size: 16px;
  font-weight: bold;
}

.nav ul li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1em;
  margin: 10px;
  cursor: pointer;
}

.nav ul li:hover {
  color: white;
}

.nav ul li.show {
  color: white;
}

.nav ul div {
  position: absolute;
  top: 13px;
  right: -30px;
  width: 30px;
  height: 31.5px;
  border-top: 2px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .nav {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
/*# sourceMappingURL=index.css.map */