<div class="header-background2"></div>
<div class="header-background1"></div>
<div class="header-con">
    <div class="header-con-logo">
        <a href="index.html"><img src="img/h1_logo_new.svg" alt=""></a>
    </div>
    <ul class="header-con-menu">
        <li><span class="header-con-menu-name">애터미 소개</span>
            <ul>
                <div></div>
                <li>개요</li>
                <li><a href="sub.html">경영철학</a></li>
                <li>창업자 소개</li>
                <li>애터미파크 소개</li>
                <li>연혁</li>
                <li>Visual Identity</li>
                <li>글로벌 사업장</li>
            </ul>
        </li>
        <li><span class="header-con-menu-name">제품철학</span>
            <ul>
                <div></div>
                <li>제품철학</li>
                <li>브랜드 스토리</li>
                <ul>
                    <li>헤모힘</li>
                    <li>스킨케어 시스템 더 페임</li>
                    <li>앱솔루트 셀랙티브 스킨케어</li>
                </ul>
                <li>GSGS 전략</li>
            </ul>
        </li>
        <li><span class="header-con-menu-name">지속가능경영</span>
            <ul>
                <div></div>
                <li>사회공헌</li>
                <ul>
                    <li>나눔의 문화</li>
                    <li>주요 활동</li>
                </ul>
                <li>상생협력</li>
                <li>소비자중심경영</li>
                <li>친환경 제품정책</li>
                <li>디자인 랩</li>
            </ul>
        </li>
        <li><span class="header-con-menu-name">비즈니스</span>
            <ul>
                <div></div>
                <li>애터미 성공시스템</li>
                <li>석세스 스토리</li>
                <li>멤버가이드</li>
                <li>세미나 일정확인</li>
            </ul>
        </li>
        <li><span class="header-con-menu-name">글로벌 애터미</span>
            <ul>
                <div></div>
                <li>공지사항</li>
                <li>자주 묻는 질문</li>
                <li>뉴스룸</li>
            </ul>
        </li>
        <li><span class="header-con-menu-name">애터미 피플</span>
            <ul>
                <div></div>
                <li>인재상</li>
                <li>일하는 방식</li>
                <ul>
                    <li>애터미 WAY</li>
                    <li>애터미 Life</li>
                    <li>글로벌 Life</li>
                </ul>
            </ul>
        </li>
    </ul>
    <div class="header-con-lang">
        <span>Korean</span>
    </div>
    <div class="header-con-burger">
        <i class="fas fa-bars"></i>
    </div>
</div>

<!-- 모바일 -->
<div class="header-s">
    <ul class="header-s-menu">
        <li class="header-s-menu-list" data-index="0">
            <div class="header-s-menu-list-name">애터미 소개<span>+</span></div>
            <ul>
                <li>개요</li>
                <li>경영철학</li>
                <li>창업자 소개</li>
                <li>애터미파크 소개</li>
                <li>연혁</li>
                <li>Visual Identity</li>
                <li>글로벌 사업장</li>
            </ul>
        </li>
        <li class="header-s-menu-list" data-index="1">
            <div class="header-s-menu-list-name">제품철학<span>+</span></div>
            <ul>
                <li>제품철학</li>
                <li>브랜드 스토리</li>
                <ul>
                    <li>헤모힘</li>
                    <li>스킨케어 시스템 더 페임</li>
                    <li>앱솔루트 셀랙티브 스킨케어</li>
                </ul>
                <li>GSGS 전략</li>
            </ul>
        </li>
        <li class="header-s-menu-list" data-index="2">
            <div class="header-s-menu-list-name">지속가능경영<span>+</span></div>
            <ul>
                <li>사회공헌</li>
                <ul>
                    <li>나눔의 문화</li>
                    <li>주요 활동</li>
                </ul>
                <li>상생협력</li>
                <li>소비자중심경영</li>
                <li>친환경 제품정책</li>
                <li>디자인 랩</li>
            </ul>
        </li>
        <li class="header-s-menu-list" data-index="3">
            <div class="header-s-menu-list-name">비즈니스<span>+</span></div>
            <ul>
                <li>애터미 성공시스템</li>
                <li>석세스 스토리</li>
                <li>멤버가이드</li>
                <li>세미나 일정확인</li>
            </ul>
        </li>
        <li class="header-s-menu-list" data-index="4">
            <div class="header-s-menu-list-name">글로벌 애터미<span>+</span></div>
            <ul>
                <li>공지사항</li>
                <li>자주 묻는 질문</li>
                <li>뉴스룸</li>
            </ul>
        </li>
        <li class="header-s-menu-list" data-index="5">
            <div class="header-s-menu-list-name">애터미 피플<span>+</span></div>
            <ul>
                <li>인재상</li>
                <li>일하는 방식</li>
                <ul>
                    <li>애터미 WAY</li>
                    <li>애터미 Life</li>
                    <li>글로벌 Life</li>
                </ul>
            </ul>
        </li>
    </ul>
</div>